<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
{#    <script src="../static/jquery-3.2.1.min.js"></script>#}


</head>
<body>
<h1 align="center">login</h1>

<form method="post" name="login" action="/">
    <div align="center">
        username:<input type="text" name="username">
        <br>
        password:<input type="password" name="password">
        <br>
        <input type="reset" value="reset">
        <input type="submit"  id="submit" value="submit">
    </div>
</form>

</body>
</html>